@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
   
    font-family: "Nunito", sans-serif;
}

:root{
    /* --bg-color: #191f36; main colors
    --snd-bg-cover: #262840;
    --text-color: #fff;
    --main-color: #59b2f4; */

     --bg-color: #FFF7ED;
    --snd-bg-cover: #FDE2C5;
    --text-color: #292524;
    --main-color: #F97316;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem; /*1 rem is 16px but since i have changed the root font size to font-size 62.5% which changes the 16px 10px*/
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--snd-bg-cover);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}


.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a:active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{

    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 6.5rem;
    font-weight: 700;
    /* letter-spacing: 1.3; */

}

.home-img img{
    width: 25vw;
    border-radius: 50%;
    animation: floatImages 4s ease-in-out infinite;  /*animation: name duration timing-function delay iteration-count direction fill-mode play-state*/
}

@keyframes floatImages {
    
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-2.4rem); /*moves the element along the y axis up to top*/
    }

    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color); /*border: width style color*/
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0; /*margin: top right botton left */
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-cover);
    box-shadow: 0 0 2rem var(--main-color);  /*box-shadow: h-offset(horizontal distance) v-offset(verticle distance) blur(sharpness) spread(the size of the shadow) ;*/
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    background-color: var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 2rem;
    background: var(--snd-bg-cover);
}

.about-img img{
    width: 32vw;
    
    border-radius: 10%;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services h2{
    margin-bottom: 5rem;

}

.services-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 30rem;  /*flex: flex-grow flex-shrink flex-basis*/
    background: var(--snd-bg-cover);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);

}


.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    background: var(--snd-bg-cover);

}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /*this is for the column of the grid the repeat we have is for duplicate the sizing and 1fr means fractional unit it is flexible so we use this*/
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{

    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
    opacity: 0.1;
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));  /*rgba (red,green,blue,opacity(transparency))*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;

}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
   
}
.portfolio-layer{
    color: white;
}
.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    font-weight: 700;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--snd-bg-cover);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-cover);
    border-radius: 0.8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-cover);
}

.footer-text{
    font-size: 1.6rem;

}


.footer-icontop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-icontop a:hover{
    box-shadow: 0 0 3rem var(--main-color);
}

.footer-icontop a i{
    font-size: 2.4rem;
    color: var(--snd-bg-cover);
}

/* ================= RESPONSIVE DESIGN ================= */

@media (max-width: 991px) {

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}


@media (max-width: 768px) {

    /* Mobile Menu Icon */

    #menu-icon {
        display: block;
        cursor: pointer;
    }

    /* Navigation */

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }


    /* Home Section */

    .home {
        flex-direction: column;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 60vw;
        margin-top: 4rem;
    }


    /* About Section */

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-img img {
        width: 60vw;
    }

    .about-content h2 {
        text-align: center;
    }


    /* Services */

    .services-container {
        flex-direction: column;
    }

    .services-container .services-box {
        width: 100%;
    }


    /* Portfolio */

    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .portfolio-box {
        width: 100%;
    }


    /* Contact */

    .contact form .input-box input {
        width: 100%;
    }
}


@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-img img {
        width: 70vw;
    }

    .about-img img {
        width: 70vw;
    }
}

